<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jh.wxqb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_white"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <!-- UI原型尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jh.wxqb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity android:name=".ui.home.login.StartActivity">
        </activity>
        <activity android:name=".ui.home.login.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--友盟分享-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".base.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.home.login.LoginActivity" />
        <activity android:name=".ui.home.ScanningCodeActivity" />
        <activity android:name=".ui.home.login.RegisterActivity" />
        <activity android:name=".ui.home.login.ForgetPwdActivity" />
        <activity android:name=".ui.me.NationalDepartureActivity" />

        <service android:name=".utils.DownloadService" />

        <activity android:name=".ui.home.NewsListActivity" />
        <activity android:name=".ui.home.NewsInfoActivity" />
        <activity android:name=".ui.home.MyMessageActivity" />
        <activity android:name=".ui.home.MessageInfoActivity" />
        <activity android:name=".ui.me.FinancialDetailsActivity" />
        <activity android:name=".ui.me.UserInfoActivity" />
        <activity android:name=".ui.me.mysendletter.MySendLetterActivity" />
        <activity android:name=".ui.me.RecommendActivity" />
        <activity android:name=".ui.me.UdpPwdActivity" />
        <activity android:name=".ui.me.BindingAccountActivity" />
        <activity android:name=".ui.me.MyTeamActivity" />
        <activity android:name=".ui.me.feedback.FeedbackActivity" />
        <activity android:name=".ui.me.feedback.PlusImageActivity" />
        <activity android:name=".ui.me.feedback.FeedbackListActivity" />
        <activity android:name=".ui.me.feedback.FeedbackInfoActivity" />
        <activity android:name=".ui.me.mysendletter.OrderInfoActivity" />
        <activity android:name=".ui.me.ChangeImageActivity" />
        <activity android:name=".ui.assets.WithdrawMoneyActivity" />
        <activity android:name=".ui.assets.TurnOutActivity" />
        <activity android:name=".ui.assets.TurnInActivity" />
        <activity android:name=".ui.market.CurrentEntrustmentActivity" />
        <activity android:name=".ui.market.MoreBusinessActivity" />
        <activity android:name=".ui.market.PurchaseOrderActivity" />
        <activity android:name=".ui.market.HandicapDetailActivity" />
        <activity android:name=".ui.assets.PunchingMoneyActivity" />
    </application>

</manifest>